/* Page */

body{
    background:black;
    margin:0;

    display:flex;
    justify-content:center;

    font-family:Inter, sans-serif;
}

/* App */

.app{
    max-width:350px;
    max-height:120px;

    background:black;
    position:relative;
    padding:30px 20px;
}

/* Profile */

.profile{
    display:flex;
    align-items:center;
    gap:15px;
}
.more-info{

    background:rgb(14, 13, 13);
    position:absolute;
    right:28px;
    top:12px;
    margin:0;
    margin-top:1px;
    display:flex;
    flex-direction:column;
    padding:5px;
    gap:5px;
    border-radius:5px;
}
.dot{
    width:4px;
    height:4px;
    
    background:rgb(250, 250, 250);
    border-radius:50%;
}

.avatar-ring{
    border:3px solid cyan;
    border-radius:50%;

    padding:4px;

    display:inline-block;
}

.avatar-ring img{
    width:60px;
    height:60px;

    border-radius:50%;

    display:block;
}

.profile-info p{
    color:gray;
    margin:0;
}

.profile-info h2{
    color:white;

    margin:5px 0 0 0;

    font-weight:400;
}

/* Divider */

hr{
    border:none;

    height:1px;

    background:#2a2a2a;

    margin:25px 0;
}

/* Menu Heading */

.menu-head{
    color:grey;

    font-weight:300;

    margin-left:10px;
}

/* Menu Card */

.menu{
    background:rgb(18,16,16);

    margin-top:20px;

    border-radius:20px;

    padding:20px;
}

.menu2{
    margin-top:20px;
    margin-right:15px;
    margin-left:20px;
}

/* every row*/

.menu-row{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:18px;

}

.menu-row:last-child{
    margin-bottom:0;
}

.menu-item{
    display:flex;
    align-items:center;

    gap:11px;
    color:rgb(151,151,151);
}

.menu-item img{
    width:14px;
    height:14px;

    padding:10px;
}

.menu-item p{
    margin:0;
    font-weight:400;
}

.badge{
    width:18px;
    height:18px;

    background:red;
    color:white;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:10px;
    font-weight:500;
}

.plus{
    color:white;
    font-size:16px;
    font-weight:500;
}

.card{
    background:rgb(18,16,16);

    margin-top:40px;
    border-radius:20px;

    padding:20px;

    min-height:180px;
    min-width:300px;
}

.blue-circle{
    width:50px;
    height:50px;

    background:#2989ef;
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:0 auto;
    margin-top:32px;
    box-shadow:
    0 5px 15px rgba(69, 127, 221, 0.5),
    inset 0 3px 5px rgba(170, 203, 227, 0.5),
    inset 3px 3px 7px rgba(170, 203, 227, 0.5),
    inset -5px 0px 7px rgba(186, 221, 246, 0.5),
    inset 0 -5px  8px rgba(15, 33, 59, 0.5),
    inset 0 -5px  10px rgba(31, 59, 97, 0.5);

}

.plus-button{

    position:absolute;
    width:19px;
    height:2px;

    background:white;

    border-radius:10px;

}

.plus-button::after{
    content:"";
    position:absolute;
    width:2px;
    height:19px;

    background:white;

    border-radius:10px;

    left:50%;
    top:-50%;
    transform:translate(-50%, -45%);
}

.card-content{
    text-align:center;
    color:white;
    font-size:14px;
    padding:2px;
}
.card-description{
    text-align:center;
    color:gray;
    font-size:12px;
    padding:0 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto;
    gap:7px;
}
.skillscape{
    font-size:12px;
    color:rgb(251, 161, 87);
    font-weight:500;
}

.discover p{
    margin-top:4px;
}
.card-content p{
    margin:0;
    margin-top:15px;
}

